@tailwind base;
@tailwind components;
@tailwind utilities;

.header a
{
    color: white;
    padding: 4px 10px;
}
.header a:not(.logo):hover
{
    border-bottom: 2px solid orangered;
}
.active
{
    border-bottom: 2px solid orangered;
}
/* banner */
